<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
    <ul class="nav bg-primary">
        <li class="nav-item p-2 ps-5">
        <a class="nav-link link-light" href="{% url 'holidays:admin_index' %}">HOME</a>
        </li>
        <li class="nav-item p-2 ps-5">
        <a class="nav-link link-light" href="{% url 'holidays:logout_user' %}">LOGOUT</a>
        </li>
    </ul>
    <br>


    <div class="container">
        <br>
        <h1 class="text-center">{{ hotel.hotel_name }}</h1>
        <br>
        <form action= "{% url 'holidays:edit_hotel' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <input type="text" class="form-control" id="description" name="description" value="{{ hotel.description }}">
            </div>
            <div class="mb-3">
              <label for="location" class="form-label">Location</label>
              <input type="text" class="form-control" id="location" name="location" value="{{ hotel.location }}">
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" name="address" value="{{ hotel.address }}">
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Image</label>
              <input type="file" class="form-control" id="image" name="image" value="{{ hotel.image }}">
            </div>
            <div class="mb-3">
              <label for="contact" class="form-label">Contact</label>
              <input type="number" class="form-control" id="contact" name="contact" value="{{ hotel.contact }}">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" value="{{ hotel.email }}">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Update Hotel</button>
          </form>
    
        </div>
    </body>
    </html>