<h1>{{ hotel.hotel_name }}</h1>
<p>Rating = {{ hotel.get_rating }}</p>
<a href="{% url 'holidays:rate' hotel.id 1 %}">1</a> <a href="{% url 'holidays:rate' hotel.id 2 %}">2</a> <a href="{% url 'holidays:rate' hotel.id 3 %}">3</a> <a href="{% url 'holidays:rate' hotel.id 4 %}">4</a> <a href="{% url 'holidays:rate' hotel.id 5 %}">5</a>
<p>Location: {{ hotel.location }}</p>
<p>{{ hotel.description }}</p>
<p>Address: {{ hotel.address }}</p>
<p>Contact - PUT LINK TO CONTACT PAGE HERE</p>

<p>{{ hotel.image }}</p>
{% if error %}
<p><strong>{{ error }}</strong></p>
{% endif%}
<ul>
{% for room in hotel.room_set.all %}
    <li><a href="{% url 'holidays:book' room.id %}">{{room.image}}<a>
        <ul>
            <li><strong>{{ room.description }}</strong></li>
            <li>Price: €{{ room.price }}</li>
        </ul>
    </li>
{% endfor %}
</ul>