<form action= "{% url 'holidays:pay_booking' booking %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Pay Booking</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <label for="card_number">Credit Card Number:</label>
        <input type="number" name="card_number" id="card_number" required>
        <label for="expiry_date">Expiry Date:</label>
        <input type="date" name="expiry_date" id="expiry_date" required>    
        <label for="cvv">CVV:</label>
        <input type="number" name="cvv" id="cvv" required>
        <label for="cardholder_name">Cardholder Name:</label>
        <input type="text" name="cardholder_name" id="cardholder_name" required>
        <label for="billing_address">Billing Address:</label>
        <input type="text" name="billing_address" id="billing_address" required>
        <label for="mobile">Mobile:</label>
        <input type="number" name="mobile" id="mobile" required>

    </fieldset>
    <input type="submit" value="Pay Now">
    </form>