<h1>{{ client.user.user_name }}</h1>
<p>Email: {{ client.user.email }}</p>
<p>Phone Number: {{ client.user.mobile }}</p>
<p>Address: {{ client.address }}</p>
<p>Age: {{ client.age }}</p>
<p><a href="{% url 'holidays:logout_user' %}">Logout</a></p>
{% if error %}  
<p><strong>{{ error }}</strong></p>
{% endif%}
<h2>Bookings</h2>
{% if client.booking_set.all %}
<ul>
{% for booking in client.booking_set.all %}
<li><a href="{% url 'holidays:hotel' booking.room.hotel.id %}">{{ booking.room.hotel.hotel_name }}</a>
        <ul>
            <li>{{booking.room.description}}</li>
            <li>Price: {{booking.room.price}}</li>
            <li>Check in: {{booking.check_in}}</li>
            <li>Check out: {{booking.check_out}}</li>
            <li>Booking {% if not booking.approved %}not yet {%endif%}approved</li>
            {% if booking.approved %}<li> Booking has{% if not booking.payed%} not{% endif %} been paid {% if not booking.payed%} <a href="{% url 'holidays:pay_booking' booking.id %}">Pay now</a>{% endif %}</li>{% endif %}

            <li><a href="{% url 'holidays:cancel_booking' booking.id %}">Cancel Booking</a></li>
        </ul>
    </li>
{% endfor %}
</ul>
{% else %}
<p>You have no bookings.</p>
{% endif %}
<h2>Queries</h2>
{% if client.query_set.all %}
<ul>
{% for query in client.query_set.all %}
<li><a href="{% url 'holidays:hotel' query.hotel.id %}">{{ query.hotel.hotel_name }}</a>
        <ul>
            <li>{{query.subject}}</li>
            <li>{{query.query}}</li>
            {% if not query.status %} <li>Query not yet answered</li>
            {% else %}<li>Feedback = {{ query.feedback.feedback }}</li>{% endif %}
        </ul>
    </li>
{% endfor %}
</ul>
{% else %}
<p>You have no queries.</p>
{% endif %}