<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
    <ul class="nav bg-primary">
        <li class="nav-item p-2 ps-5">
        <a class="nav-link link-light" href="{% url 'holidays:index' %}">HOME</a>
        </li>
        {% if user %}
        <li class="nav-item p-2 ps-5">
        <a class="nav-link link-light" href="{% url 'holidays:profile' %}">PROFILE</a>
        </li>
        <li class="nav-item p-2 ps-5">
        <a class="nav-link link-light" href="{% url 'holidays:logout_user' %}">LOGOUT</a>
        </li>
        {% else %}
        <li class="nav-item p-2 ps-5">
        <a class="nav-link link-light" href="{% url 'holidays:login' %}">LOGIN</a>
        </li>
        {% endif %}
    </ul>
    <br>
    <div class="container">
        <h1 class="text-center">{{ client.user.user_name }}</h1>
        <p>Email: {{ client.user.email }}</p>
        <p>Phone Number: {{ client.user.mobile }}</p>
        <p>Address: {{ client.address }}</p>
        <p>Age: {{ client.age }}</p>
        {% if error %}  
        <p><strong>{{ error }}</strong></p>
        {% endif%}
    </div>
    <br>
        <div class="row align-items-start">
            <div class="col-9">
            <h2 class="text-center">Bookings</h2>
            {% if client.booking_set.all%}
            {% for booking in client.booking_set.all %}
            <div class="card-body rounded-3 p-1">
                <div class="row align-items-start">
                    <div class="col text-center">
                        <a href="{% url 'holidays:hotel' booking.room.hotel.id %}"><img src="{{ booking.room.image.url }}" class="img-fluid" alt="{{ room.description }}" style="width: 300px; height: 200px;"/></a>
                    </div>
                    <div class="col">
                        <h5 class="card-title"><a href="{% url 'holidays:hotel' booking.room.hotel.id %}">{{ booking.room.description}} at {{ booking.room.hotel.hotel_name }}</a></h5>
                        <p class="card-text">Price: {{ booking.room.price }}</p>
                        <p class="card-text">Check in: {{ booking.check_in }}</p>
                        <p class="card-text">Check out: {{ booking.check_out }}</p>
                        <p class="card-text">Booking {% if not booking.approved %}not yet {%endif%}approved</p>
                        {% if booking.approved %}<p class="card-text"> Booking has{% if not booking.payed%} not{% endif %} been paid {% if not booking.payed%} <a href="{% url 'holidays:pay_booking' booking.id %}">Pay now</a>{% endif %}</p>{% endif %}
                        <p class="card-text"><a href="{% url 'holidays:cancel_booking' booking.id %}">Cancel Booking</a></p>
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
            {% else %}
            <p class="text-center">You have no bookings.</p>
            {% endif %}
        </div>
        <div class="col">
            <div class="justify-content-center">
            <h2>Queries</h2>
            {% if client.query_set.all %}
                {% for query in client.query_set.all %}
                    <div class="card-body rounded-3 p-1">
                        <h5 class="card-title"><a href="{% url 'holidays:hotel' query.hotel.id %}">{{ query.hotel.hotel_name }}</a></h5>	
                        <p class="card-text">{{query.subject}}</p>
                        <p class="card-text">{{query.query}}</p>
                        {% if not query.status %} <p class="card-text">Query not yet answered</p>
                        {% else %}<p class="card-text">Feedback: {{ query.feedback.feedback }}</p>{% endif %}
                    </div>
                    <br>
                {% endfor %}
            {% else %}
            <p>You have no queries.</p>
            {% endif %}
        </div>
        </div>
</body>
</html>